body {
    font-family: 'Circe', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $main;
    background-color: #f5f6fa;
}
.global-page-content {
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
[hidden] {
    display: none !important;
}
main {
    margin-left: 330px;
    max-width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

img {
    display: inline-block;
    width: 100%;
}

a.link {
    color: $blue;
    text-decoration: none;

    &.link-decor {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.mar-bottom-0 {
    margin-bottom: 0 !important;
}
a.change-link {
    font-size: 15px;
    color: $blue;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 11px;
        height: 12px;
        margin-top: -6px;
        background: url('/static/img/icons/setting.png') center no-repeat;
        background-size: contain;
    }
}
a.delete-link {
    font-size: 15px;
    color: $red;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 11px;
        height: 10px;
        margin-top: -5px;
        background: url('/static/img/icons/del_icon.png') center no-repeat;
        background-size: contain;
    }
}