body {
    font-family: 'Circe', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: $main;
    background-color: #f5f6fa;

    &.is-fixed {
        height: 100vh;
        overflow: hidden;
    }
}
.global-page-content {
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
[hidden] {
    display: none !important;
}
main {
    margin-left: 330px;
    max-width: 100%;
    padding-right: 40px;
    box-sizing: border-box;

    @media screen and (max-width: $desctop) {
        margin-left: 0;
        padding: 0 10px;
        padding-top: 70px;
    }
}

img {
    display: inline-block;
    width: 100%;
}

a.link {
    color: $blue;
    text-decoration: none;

    &.link-decor {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.center-img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}
.mar-bottom-0 {
    margin-bottom: 0 !important;
}
a.change-link {
    font-size: 15px;
    color: $blue;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 11px;
        height: 12px;
        margin-top: -8px;
        background: url('/static/img/icons/setting.png') center no-repeat;
        background-size: contain;
    }
}
a.delete-link {
    font-size: 15px;
    color: $red;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 11px;
        height: 10px;
        margin-top: -5px;
        background: url('/static/img/icons/del_icon.png') center no-repeat;
        background-size: contain;
    }
}
.img-left {
    float: left;
    clear: both;
    padding: 0 20px 20px 0;
}
.img-right {
    float: right;
    clear: both;
    padding: 0 0 20px 20px;
}
.clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 100%;
        visibility: hidden;
    }
}
p.paragraph {
    font-size: 14px;
    line-height: 1.5;
    text-indent: 10px;
}
.mobile--visible {
    display: none;
}
@media screen and (max-width: $mobile) {
    .mobile-mb-20 {
        margin-bottom: 20px;
    }
    .mobile--visible {
        display: block;
    }
    .mobile--hidden {
        display: none !important;
    }
}