$blue: #526cfe;
$light: #eef0fc;
$main: #19233b;
$lightBlue: #a6baed;
$green: #5eb76f;
$gray: #b6bac3;
$lightGrey: #c0c3cc;
$red: rgb(240, 80, 80);
$yellow: #ffcc5f;

$desctop: 1279px;
$laptop: 960px;
$mobile: 767px;
