.form-block {
    display: block;
    width: 100%;
    max-width: 100%;

    &.has-error {
        .form-block__radio-wrap {
            .radio-custom {
                border: 1px solid $red !important;
            }
        }
    }


    .form-block__radio-wrap {
        position: relative;
        display: inline-block;
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;

        &.display-block {
            display: block;
        }

        &:hover {
            cursor: pointer;

            .radio-custom {
                border: 1px solid $green;
            }
        }

        .radio-custom {
            position: absolute;
            left: 0;
            top: 50%;
            width: 12px;
            height: 12px;
            margin-top: -8px;
            border: 1px solid $gray;
            border-radius: 50%;
            background: #fff;
            overflow: hidden;
            transition: border-color .2s;
            
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: $green;
                border-radius: 50%;
                transition: all .2s;
                transform: scale(0);
            }
        }

        .form-block__radio-text {
            font-size: 15px;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
        }

        .form-block__radio {
            display: none;

            &:checked {
                + .radio-custom {
                    border-color: $green;
                    &::after {
                        transform: scale(1);
                        box-shadow: inset 0 0 0 2px #ffffff;
                    }
                }
            }
        }
    }


}
