.form-block {
    display: block;
    width: 100%;
    max-width: 100%;

    .form-block__title {
        font-size: 15px;
        color: $gray;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .form-block__input-wrap {
        position: relative;
        display: block;

        &.has-icon {
            .icon   {
                position: absolute;
                top: 50%;
                margin-top: -8px;
                left: 14px;
                width: 14px;
                height: 14px;
                background-position: center center;
                background-size: auto;
                background-repeat: no-repeat;
            }
            .form-block__input {
                padding-left: 42px;
            }
        }

        .send {
            position: absolute;
            right: 10px;
            top: 50%;
            width: 18px;
            height: 18px;
            border: none;
            outline: none;
            background: url('/static/img/icons/send_icon.png') center no-repeat;
            background-size: auto;
            padding: 0;
            margin-top: -9px;

            &:hover {
                cursor: pointer;
            }
        }

        &.js-input-number {
            .js-input-number__buttons {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 5px;
                width: 20px;

                .js-input-number__button {
                    position: absolute;
                    left: 50%;
                    width: 15px;
                    height: 15px;
                    background: url('/static/img/icons/arrow.png') 4px center no-repeat;
                    border: none;
                    margin-left: -8px;
                    padding: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    &.inc {
                        top: 5px;
                    }
                    &.desc {
                        bottom: 5px;
                        transform: rotate(180deg);
                        background-position: 3px center;
                    }
                }
            }
        }
    }

    .form-block__input-wrap--pass {
        .icon {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -7px;
            width: 14px;
            height: 14px;
            background: url('/static/img/icons/pass_open.png') center no-repeat;
            background-size: contain;

            &:hover {
                cursor: pointer;
            }

            &.is-open {
                background: url('/static/img/icons/pass_close.png') center no-repeat;
                background-size: contain;
            }
        }
    }

    .form-block__input {
        color: $main;
        font-size: 15px;
        font-family: 'Circe', Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-width: 1px;
        border-color: rgb(238, 240, 252);
        border-style: solid;
        border-radius: 4px;
        padding: 11px 22px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 100%;
        background: #fff;
        resize: vertical;

        &::placeholder {
            color: $gray;
            transition: color .2s;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px #d4d8ef;
            &::placeholder {
                color: transparent;
            }
        }
    }
}
