.task-data {
    .task-data__title {
        position: relative;
        margin: 0 0 10px 0;
        
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            height: 1px;
            background-color: #f5f6f6;
        }

        span {
            display: inline-block;
            padding: 2px 20px 2px 2px;
            background-color: #fff;
            color: $blue;
            font-size: 16px;
            position: relative;
            z-index: 1;
        }
    }


    .task-data__item {
        margin: 0;
        padding: 20px 0;
        border-bottom: 1px solid #f5f6f6;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        line-height: 1;


        &:last-child {
            border-bottom: none;
            margin-bottom: 20px;
        }

        .task-data__item-name {
            font-weight: 700;
        }
        .task-data__item-value {
            font-weight: 300;
            text-align: right;
            margin-left: 10px;
        }
        .form-block {
            width: auto;
            margin-bottom: 0;
            .form-block__select {
                padding: 0 20px 0 0;
                font-size: 14px;
                border: none;
                color: green;
                transition: background-color .2s;

                option {
                    background-color: #fff;
                    color: $main;
                }
                
                &:hover {
                    cursor: pointer;
                    background-color: #f6f7fb;
                }
            }
        }
    }
}
.task-edit__actions-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .btn.btn-info {
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
        transition: all .2s;
        padding-top: 12px;
        padding-bottom: 12px;
        
        &::before {
            width: 12px;
            height: 12px;
            background: url('/static/img/icons/check_user_blue.png') center no-repeat;
            background-size: contain;
            margin-top: -7px;
        }

        &:hover {
            background-color: $blue;
            color: #eebbff;

            &::before {
                background: url('/static/img/icons/check_user_w.png') center no-repeat;
                background-size: contain;
            }
        }
    }
}
.users__dropdown {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 7px 2px rgba(231, 232, 236, 0.75);

    .form-block {
        margin-bottom: 10px;
    }

    .search-block {
        position: relative;
        margin-bottom: 20px;
        display: block;

        .search-block__search {
            background: transparent;
            border: none;
            border-bottom: 1px solid #b6bac3;
            padding: 5px;
            outline: none;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 25px;
            padding-right: 65px;
        }
        .search-block__submit {
            border: none;
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('/static/img/icons/search_icon.png') center no-repeat;
            -webkit-background-size: auto auto;
            background-size: auto;
            display: block;
            left: 0;
            top: 50%;
            margin-top: -11px;
            padding: 0;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
    }
    .users-section {
        .form-block {
            padding-left: 10px;
        }
        .users-section__title {
            position: relative;
            margin-top: 0;
            
            &:hover {
                cursor: pointer;
            }
            
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -5px;
                width: 14px;
                height: 10px;
                background: url('/static/img/icons/chevron-down.png') center no-repeat;
                background-size: contain;
                transform: rotate(180deg);
                transition: all .2s;
            }
        }
        &.is-active {
            .users-section__title {

                &::after {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .users-list {
        position: relative;

        .form-block__checkbox:checked + .checkbox-custom + .form-block__checkbox-text {
            color: $green;
        }
        
        &.loading {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.76);
                z-index: 1;
            }
        }


    }
}