.last-activity {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 9px 0px rgba(231, 232, 236, 0.75);
    padding: 20px 16px;
    margin-bottom:  30px;

    .last-activity__header {
        margin:  0 0 24px 0;
        position: relative;
    }

    .last-activity__title {
        font-size: 16px;
        margin:  0;
    }
    .last-activity__icon {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
        display: block;
        background: url('/static/img/icons/more-vertical.svg') center no-repeat;
        opacity: .3;
        transition: opacity .2s linear;
        background-size: 20px;

        &:hover {
            opacity: .7;
        }
    }

    .last-activity__dropdown {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        width: 250px;
        top: 100% !important;
        right: 0 !important;
        left: auto !important;
        box-shadow: 0 3px 7px 2px rgba(231, 232, 236, 0.75);

        .form-block .form-block__checkbox-wrap .form-block__checkbox-text {
            font-size: 13px;
        }

        .form-block__checkbox:checked {
            + .checkbox-custom + .form-block__checkbox-text {
                color: $blue;
            }
        }
    }

    .last-activity__dropdown-title {
        font-size: 14px;
        margin-top: 0;
    }

    .last-activity__body {
        border-left: 1px solid $light;
        padding-bottom: 30px;
    }

    .last-activity__item {
        .last-activity__item-time {
            padding: 11px 14px;
            color: $blue;
            font-size:  12px;
            margin: 0;
        }
        .last-activity__item-link {
            display: block;
            position: relative;
            text-decoration: none;
            overflow: hidden;
            padding: 5px 0 5px 70px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.03);
            }

            .last-activity__item-icon {
                position: absolute;
                width: 32px;
                height: 32px;
                background-color: $blue;
                left: 22px;
                top: 50%;
                margin-top: -16px;
                color: #fff;
                text-align: center;
                line-height: 36px;
                font-size: 14px;
                font-weight: 700;
                border-radius: 50%;
            }

            &::after {
                content: '';
                position: absolute;
                left: -3px;
                top: 0;
                bottom: 0;
                width: 6px;
                background-color: $blue;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
            .last-activity__item-name {
                font-weight: 700;
                color: $main;
                font-size: 14px;
                display: block;
                margin-bottom:  6px;
            }
            .last-activity__item-notify {
                display: block;
                font-size: 12px;
                color: $lightBlue;
                font-weight: 700;
            }
        }
    }
}