.table-wrap {
    display: block;
    max-width: 100%;

    .simplebar-scrollbar:before {
        background: $blue;
    }

    .table-inner {
        display: block;

        table, .table {
            width: 100%;
            border-collapse: collapse;

            th {
                font-size: 15px;
                color: $gray;
            }

            tr {
                border-bottom: 1px solid #f5f6f6;
            }
            th, td  {
                padding: 5px 0;
            }
            td {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    
    @media screen and (max-width: $mobile) {
        overflow: hidden;
        overflow-x: scroll;
    }
}

.table {
    .table__title {
        display: flex;
        justify-content: space-between;
        color: $main;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .table__header {
        font-size: 15px;
        color: $gray;
        margin-bottom: 20px;

        &.space-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .row {
        padding: 10px;
        align-items: center;

        &.row--align-start {
            align-items: flex-start;
        }
    }
    .row:nth-child(2n) {
        background-color: #f6f7fb;
        &.no-bg {
            background-color: transparent;
        }
    }
    @media screen and (max-width: $mobile) {
        &:not(.table--no-mobile) {
            display: table;
            width: 100%;

            .table__title {
                display: table-row;

                > * {
                    display: table-cell;
                    vertical-align: middle;
                }

                span {
                    width: 50%;
                }
            }

            .table__header {
                display: table-header-group;

                &.space-between {
                    display: table-header-group;

                    > * {
                        display: table-cell;
                    }
                }

                .row {
                    flex-wrap: nowrap;
                    display: table-row;

                    .col {
                        width: auto;
                        flex-shrink: 0;
                        max-width: none;
                        display: table-cell;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
            .row {
                flex-wrap: nowrap;
                display: table-row;
                width: 100%;

                .col {
                    width: auto;
                    flex-shrink: 0;
                    max-width: none;
                    display: table-cell;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

    }
}
