.table-wrap {
    display: block;
    max-width: 100%;

    .simplebar-scrollbar:before {
        background: $blue;
    }

    .table-inner {
        display: block;

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                font-size: 15px;
                color: $gray;
            }

            tr {
                border-bottom: 1px solid #f5f6f6;
            }
            th, td  {
                padding: 5px 0;
            }
            td {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

.table {
    .table__header {
        font-size: 15px;
        color: $gray;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .row {
        padding: 10px;
        align-items: center;
    }
    .row:nth-child(2n) {
        background-color: #f6f7fb;
        &.no-bg {
            background-color: transparent;
        }
    }
}
